os:
  - osx
  - linux
language: node_js
node_js:
  - 6
  - 8
  - 10
  - node
matrix:
  allow_failures:
    - node_js: 10
    - node_js: node
install:
  - npm install
script:
  - npm test
  - npm run lint
after_success: npm run coveralls
notifications:
  email: false
